@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

Customizing with layers will help edit depending on the layer from the list above. You will be able to style 
them but there is also a heirerarchy as to which one takes precedence. 

Base
Styles for specific HTML elements
(h2, p, etc.)

Componets 
Styles for more complicated classes you want to add to your project.
(Cards, Buttons, etc.)

Utilities 
Add features that tailwind does not cover by default.

Called by:
@layer LAYER_NAME {

}

*/

:root {
    --foreground-rgb: 51, 51, 51;
    --background-start-rgb: 240, 240, 240;
    --background-end-rgb: 255, 255, 255;
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1e40af; /* Blue-800 */
  }
  
  a {
    color: #2563eb; /* Blue-600 */
  }
  
  a:hover {
    color: #1d4ed8; /* Blue-700 */
  }
